<html>
  <head>

    <title>Tasks</title>
    <style type="text/css">
      a {
        color: white;
      }
      
      #index-title h3 {
        font-size: 50px;
      }
      
      #index-table row {
        display: flex;
        align-content: center;
      }
      
      #single-task {
        border: solid 1px #98cfe9;
        margin: 10px;
        padding: 0px 0px 10px 0px;
      }
      
      #user {
        background-color: #338cc8;
        color: white;
        font-size: 25px;
      }
      
      
      
    </style>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    .
    <div class="container" id="index-title">
      <h3>Everyone's Tasks</h3>
    </div>
    <div class="container" id="index-table">
      <div class="row">
        <% @tasks.each do |t| %>
            <div class="col-sm-3" id="single-task">
              <h3 id="user"> <%= t.author %></h3>
              <h3 id="subject">| Subject: <%= t.subject %></h3>
              <h3 id="category">| Category: <%= t.category %></h3>
              <h3 id="points">| Points: <%= t.points %></h3>
            </div>
          <% end %>
      </div>
    </div>
 


  </body>
</html>