/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/tasks.scss */
#header {
  position: fixed;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 60px;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
  z-index: 1;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/tasks.scss */
#header .col {
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
}



/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/tasks.scss */
#tasks-all {
  border-left: solid 1px black;
  padding: 10px 5px;
  margin-top: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

