/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#user-title {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 75px;
  padding: 0px;
  margin-left: 20px;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#user-title h2 {
  font-size: 40px;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#user-table {
  margin-top: 0px;
  margin-left: 400px;
  border-left: 1px solid black;
  width: 500px;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#task-table {
  margin-left: 400px;
  margin-top: 20px;
  border-left: 1px solid black;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#task-table h3 {
  font-size: 35px;
}
