<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <% @users.each do |u| %>
        <% u.attributes.each do |key, value| %>
            <p><%= key %>: <%= value %></p> <br>
        <% end %>
    <% end %>
</body>
</html>