<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <% @users.each do |u| %>
        <% u.attributes.each do |key, value| %>
            <p><%= key %>: <%= value %></p> <br>
        <% end %>
        <%= link_to "Delete User", user_path(u), method: :delete,  data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit User", edit_user_path(u) %>
    <% end %>
</body>
</html>