<html>
<head>
    <title>Header</title>
</head>
<body>
    
    <h1>Advocacy Platform</h1>
    <% if logged_in? %>
        <%= link_to "View My Profile", current_user %>
        <%= button_to "Logout", logout_path, method: :delete %>
    <% else %>
        <%= link_to "Login", login_path %>
    <% end %>

</body>
</html>