<html>
<head>
  <title>Learn</title>
  <%= javascript_include_tag "pages", media: "all", "data-turbolinks-track" => "reload" %>
  <%= stylesheet_link_tag "pages", media: "all", "data-turbolinks-track" => "reload"%>
  <style type="text/css">
    #learn-header h1 {
    font-size: 100px;
    color: white;
}

#learn-header p {
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
    font-weight: 400;
    font-variant: small-caps;
}

#learn-header {
    height: 450px;
    background-image: url("https://images.unsplash.com/photo-1534774592507-488885376ad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f04cb891ad2a6483753e937b01e6cf1&auto=format&fit=crop&w=1650&q=80");
    background-position: bottom;
    margin-bottom: 0px;
}

#learn-header .container {
    max-width: 55rem;
    margin-top: 120px;
    border: 1px solid white;
    padding-bottom: 20px;
    position: relative;
}

#learn-content {
    background-color: white;
    display: flex;
    align-content: center;
}

.card {
    margin: 18px;
}

.card h5 {
    font-size: 25px;
}
  </style>

</head>

<body>
  <div class="jumbotron text-center" id="learn-header">
    <div class="container">
      <h1>Learn</h1>
      <p>Educational Resources for Advocacy</p>
    </div>
  </div>
  
  <div class="jumbotron" id="learn-content">
  <div class="row">
  <div class="card" style="width: 25rem;">
    <a href="https://www.plannedparenthood.org/">
    <img class="card-img-top" src="https://i.imgur.com/mlqobuo.jpg" width="288px" height="180px" alt="Women's reproductive rights image">
    </a>
    <div class="card-body">
      <h5 class="card-title">Reproductive Rights</h5>
      <p class="card-text">Reproductive rights are a huge issue facing women and the country as a whole right now.</p>
      <a href="https://www.plannedparenthood.org/" class="btn btn-primary">Learn more from Planned Parenthood</a>
    </div>
  </div>
  
  
  <div class="card" style="width: 25rem;">
    <a href="https://blogs.microsoft.com/on-the-issues/2018/04/03/the-cloud-act-is-an-important-step-forward-but-now-more-steps-need-to-follow/">
    <img class="card-img-top" src="https://i.imgur.com/2pNW9nY.jpg" width="288px" height="180px" alt="Data privacy lock image">
    </a>
    <div class="card-body">
      <h5 class="card-title">Data Privacy</h5>
      <p class="card-text">On March 23, 2018, after a multi-year advocacy effort, the Clarifying Lawful Overseas Use of Data Act (the “CLOUD Act”) was signed into law as part of omnibus legislation. Passage of the CLOUD Act represents a milestone for digital privacy. U.S. privacy law now better reflects today’s cloud computing technology—not the era of the floppy disc. While the CLOUD Act advances digital privacy and provides important legal clarity, it also represents just one step in building a global data privacy framework. The U.S. must now enter into bilateral agreements with partner nations to protect privacy and strengthen law enforcement.</p>
      <a href="https://blogs.microsoft.com/on-the-issues/2018/04/03/the-cloud-act-is-an-important-step-forward-but-now-more-steps-need-to-follow/" class="btn btn-primary">Read more about the CLOUD Act</a>
    </div>
  </div>
  
  <div class="card" style="width: 25rem;">
    <a href="http://www.csecoalition.org/">
    <img class="card-img-top" src="https://i.imgur.com/F22u0ss.jpg" width="288px" height="180px" alt="Student learning computer science image">
    </a>
    <div class="card-body">
      <h5 class="card-title">Computer Science Education</h5>
      <p class="card-text">The United States leads the world in technology innovation, but our leadership is jeopardized by insufficient support for computer science education in our nation’s K-12 schools. Today, even as our economy is increasingly driven by information technology, only one of four K-12 schools in the U.S. offers any computer science courses. We can and must do better!</p>
      <a href="http://www.csecoalition.org/" class="btn btn-primary">Learn more from the Computer Science<br/>Education Coalition (CSEC)</a>
    </div>
  </div>
  
  <div class="card" style="width: 25rem;">
    <a href="http://www.bsa.org/policy/intellectual-property-and-innovation/?sc_lang=en-US">
    <img class="card-img-top" src="https://i.imgur.com/knEH6OR.jpg" width="288px" height="180px" alt="Light bulb and hand image">
    </a>
    <div class="card-body">
      <h5 class="card-title">Intellectual Property</h5>
      <p class="card-text">Intellectual property is a critical driver of technological innovation and economic competitiveness — and is at the very heart of the software business, encouraging innovators to invest in research and product development for the benefit of customers and consumers. America’s economic success and technology leadership depend on a U.S. regulatory system that supports innovation and U.S. competitiveness. Robust protections for patents, including patents for software innovations, are essential to provide incentives for the next great wave of invention. Voices for Innovation supports patent policies that promote fairness and efficiency and deter abusive practices in patent litigation.</p>
      <a href="http://www.bsa.org/policy/intellectual-property-and-innovation/?sc_lang=en-US" class="btn btn-primary">Learn more about IP protection</a>
    </div>
  </div>
  
  <div class="card" style="width: 25rem;">
    <a href="https://www.sierraclub.org/home">
    <img class="card-img-top" src="https://i.imgur.com/fF1KY3B.jpg" width="288px" height="180px" alt="Hand holding plant in soil image">
    </a>
    <div class="card-body">
      <h5 class="card-title">Environment</h5>
      <p class="card-text">Fight to protect our planet and save the environment now.</p>
      <a href="https://www.sierraclub.org/home" class="btn btn-primary">Learn more from the Sierra Club</a>
    </div>
  </div>
  </div>
  </div>
  
</body>
</html>