#index-title {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 75px;
    padding: 0px;
    margin-left: 20px;
    
}

#index-title h3 {
    font-family: Roboto;
    font-size: 40px;
}

#all-tasks {
    z-index: -1;
}
#bottom-left
{
    left: 0;
    bottom: 0;
    position: absolute;
}
#single-task {
    height: 170px;
    width: 550px;
    border: 1px solid grey;
    margin-bottom: 50px;
    padding: 0px;
}

#user {
    margin:0px;
}

#list {
    margin-top: 5px;
}

#submit-title {
    padding-top: 20px;
    align-content: center;
    text-align: center;
    width: 100%;
}

#new-full {
    position: relative;
    align-content: center;
    background-color: white;
}

#form-box {
    margin-top: 30px;
    padding: 10px 10px;
    align-content: center;
    width: 600px;
    border: 1px solid black;
}

label{
    font-size: 20px;
}

#submit-button {
    text-align: center;
}