// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
p {
    color: blue;
}
=======

.logo{
  content:url(logo.png);
}

.navbar-expand-lg{
  background-color: #0d47a1;
}


.link{
  color: white;
}

h1 {
    color: blue;
}



#tasks-all {
   border-left: solid 1px black;
   padding: 10px 5px;
   margin-top: 10px;
}

>>>>>>> 71f47fd125c6e4c05c648688d52e534cdbf4e924
